<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Umsätze</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Umsätze</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <button class="btn btn-primary" routerLink="/add">Buchung hinzufügen</button>


    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Kontostand:
                    <span [ngClass]="{'negative':sum<0, 'positive': sum>0}">
                        {{ sum | eur }}
                    </span>
                </h3>
            </div>

            <!-- /.card-body -->
        </div>

        <!-- For Loop -->
        <div class="card" *ngFor="let booking of bookings">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-android-clipboard"></i> {{ booking.created_at | date: 'dd.MM.YYYY' }}
                    <i class="ion ion-android-time ml-3"></i> {{ booking.created_at | date: 'HH:mm' }}
                    <button class="btn btn-info">Ändern</button><button class="btn btn-danger">Löschen</button>
                </h3>
            </div>
            <div class="card-body">
                <span [ngClass]="{'negative':booking.amount<0, 'positive': booking.amount>0}">{{ booking.amount | eur }}</span>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
