<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Umsätze</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Umsätze</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Kontostand:
                    <span [ngClass]="{'negative':sum<0, 'positive': sum>0}">
                        {{ sum | eur }}
                    </span>
                </h3>
            </div>

            <!-- /.card-body -->
        </div>
        <div class="card" *ngFor="let mydata of data">
            <div class="card-header">
                <h3 class="card-title">
                    {{ mydata.created_at | date: 'dd.MM.YYYY HH:mm' }}
                </h3>
            </div>
            <div class="card-body">
                <span [ngClass]="{'negative':mydata.amount<0, 'positive': mydata.amount>0}">{{ mydata.amount | eur }}</span>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
